.calendar_container2 {
  display: flex;
  flex-direction: column;
  max-width: 2000px;
  max-height: 1000px;
  /* background-color: antiquewhite; */
}

.calender_name {
  width: 100px;
  height: 100px;
  margin: 100px;
  /* background-color: aqua; */
  font-size: 30px;
}

/*토글버튼 */
label {
  display: inline-flex;
  align-items: center;
  gap: 0.5rem;
  cursor: pointer;
  position: relative;
  left: 70px;
}

[type="checkbox"] {
  appearance: none;
  position: relative;
  border: max(2px, 0.1em) solid gray;
  border-radius: 1.25em;
  width: 2.25em;
  height: 1.25em;
}

[type="checkbox"]::before {
  content: "";
  position: absolute;
  left: 0;
  width: 1em;
  height: 1em;
  border-radius: 50%;
  transform: scale(0.8);
  background-color: gray;
  transition: left 250ms linear;
}

[type="checkbox"]:checked {
  background-color: tomato;
  border-color: tomato;
}

[type="checkbox"]:checked::before {
  background-color: white;
  left: 1em;
}

/*캘린더 메인*/
.calendar_content3 {
  display: flex;
  justify-content: space-between;
}
.calendar_img {
  width: 700px;
  height: 650px;
  background-color: aquamarine;
  margin-left: 100px;
}
.calender_input {
  width: 700px;
  height: 500px;
  /* background-color: brown; */
  margin-left: 45px;
}
.input_text {
  width: 500px;
  height: 60px;
  border-radius: 20px;
  margin-left: 95px;
}

.save_button,
.delete_button {
  width: 210px;
  height: 60px;
  margin: 50px;
  margin-left: 70px;
}
.image_upload {
  margin: 50px;
  margin-left: 70px;
  width: 550px;
  height: 300px;
}
.btn-upload {
  width: 150px;
  height: 30px;
  background: #fff;
  border: 1px solid rgb(77, 77, 77);
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

#file {
  display: none;
}
.btn-upload:hover {
  background-color: #636363;
}
