.scroll_btn_container {
  display: flex;
}
#scroll_btn_top {
  width: 30px;
  height: 30px;
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: #000000;
  color: #fff;
  border: none;
  border-radius: 100%;
  padding: 10px;
  cursor: pointer;
  display: none;
  margin-right: 50px;
}
#scroll_btn_bottom {
  width: 30px;
  height: 30px;
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: #000000;
  color: #fff;
  border: none;
  border-radius: 100%;
  padding: 10px;
  cursor: pointer;
  display: none;
  margin-right: 10px;
}

#scroll_btn_top.show,
#scroll_btn_bottom.show {
  display: block;
}
