.main {
  height: 1000px;
  max-width: 2000px;
  width: calc(100%-10rem);
}

.sidebar {
  width: 330px;
  height: 960px;
  background-color: #6c5ce7;
  margin: 40px;
  border-radius: 20px;
  border: none;
}
.white_box {
  width: 250px;
  height: 900px;
  flex-shrink: 0;
  border-radius: 10px;
  background: rgba(255, 255, 255, 0.4);
  backdrop-filter: blur(20px);
  margin: 40px;
}
.icon {
  margin: 10px;
}

.user {
  width: 220px;
  height: 60px;
  flex-shrink: auto;
  border-radius: 10px;
  background-color: #fff;
  align-self: center;
  position: relative;
  top: 100px;
  margin: 16px;
  align-items: center;
  margin-bottom: 80px;
}
.home {
  width: 220px;
  height: 40px;
  border-radius: 10px;
  background-color: #fff;
  padding-bottom: 30px;
  position: relative;
  top: 30px;
  margin: 16px;
  margin-bottom: 50px;
}
.writing {
  display: flex;
  width: 220px;
  padding: 10px 16px;
  align-items: center;
  gap: 16px;
  border-radius: 6px;
  border: 0.8px solid #403c3c;
  opacity: 0.6;
  background: #ff6363;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  margin-bottom: 50px;
  margin: 16px;
}

.board_list {
  width: 220px;
  height: 210px;
  border-radius: 10px;
  background-color: #fff;
  font-size: 23px;
  margin-bottom: 50px;
  margin: 16px;
}
.calendar {
  width: 220px;
  height: 40px;
  border-radius: 10px;
  border: 0.8px;
  background-color: transparent;
  margin-bottom: 20px;
  margin: 16px;
}
.user-info .user-badge,
.user-info .user-count {
  font-size: 20px !important;
}

/*토글 관련*/
.toggleSwitch {
  width: 30px;
  height: 20px;
  display: block;
  position: relative;
  border-radius: 30px;
  background-color: #fff;
  box-shadow: 0 0 16px 3px rgba(0 0 0 / 15%);
  cursor: pointer;
  margin: 30px;
}

.toggleSwitch .toggleButton {
  width: 15px;
  height: 15px;
  position: absolute;
  top: 50%;
  left: 4px;
  transform: translateY(-50%);
  border-radius: 50%;
  background: #f03d3d;
}

#toggle:checked ~ .toggleSwitch {
  background: #f03d3d;
}

#toggle:checked ~ .toggleSwitch .toggleButton {
  left: calc(100% - 20px);
  background: #fff;
}

.toggleSwitch,
.toggleButton {
  transition: all 0.2s ease-in;
}
.toggle-container {
  display: flex;
  align-items: center;
}

.toggleSwitch {
  margin-right: px;
}
.toggle-text {
  font-size: 10px;
}

/*그리드 리스트 버튼*/
.header_control {
  display: flex;
}
.LB_button {
  width: 100px;
  height: 50px;
}
.list_button {
  margin: 10px;
}
/*말머리*/
.billet_point {
  margin: 10px;
  border: 1px solid #403c3c;
  border-radius: 10px;
  background-color: white;
}
.billet_point > button {
  margin: 5px;
  background: none;
  border: none;
  border-radius: 5px;
}
/*말머리 필터 */
.billet_list {
  margin: 10px;
  border: 0.3px solid #6c5ce7; /*색 임시 지정*/
  font-size: 20px;
  border-radius: 10px;
  background-color: white;
}
.billet_list > span {
  background-color: #a0a0a0;
  border-radius: 10px;
}
select {
  border: none;
}

.board {
  max-width: 1600px;
  height: 1650px;
  border: none;
  background-color: pink;
}
.banner_img {
  width: 1350px;
  height: 200px;
  border-radius: 20px;
}
.board_set {
  margin-bottom: 20px;
  width: 900px;
  height: 1000px;
  background-color: #403c3c;
}
.board_1 {
  background-color: #fff;
  width: 900px;
  height: 80px;
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.boomark {
  border: none;
  background: none;
}
